* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background: #174441;
  padding: 1px;
  width: 100%;
  max-width: 480px; /* Adjust this to suit the width you want for phones */
  margin-left: auto;
  margin-right: auto;
}

.header--image {
  height: 100%;
  margin-right: 2px;
}

.header--account--image {
  height: 24px;
  width: 24px;
  margin-left: 210px;
}

.header--menu--image {
  height: 24px;
  width: 24px;
  margin-left: 20px;
}

.audio--player--container {
  align-items: center;
  height: 100px;
  background: white;
  width: 100%;
  max-width: 480px; /* Adjust this to suit the width you want for phones */
  margin-left: auto;
  margin-right: auto;
}

.audio--timeline--container{
  display: flex;
  margin-top: 60px;
}

.play--pause--button {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
}

.time-slider {
  margin-right: 10px;
  margin-left: 10px;
}