* {
  box-sizing: border-box;
}


.questionnaire-container {
  background-color: black;
  padding: 20px; /* Add padding to the container */
  box-sizing: border-box; /* Include padding in the total width/height */
  width: 100%; /* Make sure the container spans the entire width */
  overflow: auto; /* Add overflow auto to enable scrolling if content exceeds container height */
  min-height: 100vh;
  overflow-y: auto;
}

.song--title {
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}

/* HANDLING HEADER */

.audio--player--container {
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 480px; /* Adjust this to suit the width you want for phones */
  margin-left: auto;
  margin-right: auto;
}

.audio--timeline--container{
  display: flex;
  margin-top: 60px;
}

.play--pause--button {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
}


/* HANDLING RADIO ICONS FOR FORM */ 


/* Styling Form */

.rating-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  max-width: 480px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}


/* Style for radio buttons within each group */
.radio-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


.optional--checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.button--container{
  display: flex;
  flex-direction: row;
}



