/* Header.css */
.header {
    display: flex;
    align-items: center;
    height: 120px; /* Increased header height */
    background-color: black;
    padding: 0 20px; /* Increased side padding */
    width: 100%;
}

.header--image {
    height: 40%; /* Increase for better visibility */
    margin-left: 10px;
    margin-right: 20px; /* Adjusted margin */
}
  
.header--account--image {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}
  
.header--menu--image {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 60px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Position it off-screen initially */
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    transition: right 0.3s ease-in-out;
    z-index: 1000; /* Ensure it's on top of other content */
  }
  
  .sidebar.open {
    right: 0; /* Slide it into view */
  }
  
  .sidebar-content {
    padding: 20px;
    color: white;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .close-button:focus {
    outline: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    .header {
        height: 100px; /* Adjusted for mobile */
        padding: 0 15px; /* Slightly reduced padding on smaller screens */
    }

    .header--image,
    .header--account--image,
    .header--menu--image {
        height: 25px; /* Adjust size for mobile */
        width: 25px;
    }
}