/* Home.css */
body{
  font-family: 'Outfit', sans-serif;
}

.home-container {
  background-color: #000; /* Black background */
  color: #fff; /* White text for contrast */
  padding: 5vh 2vw; /* Adjusted padding for mobile */
}

.main-content {
  text-align: center;
  max-width: 80vw; /* Adjusted max width for better responsiveness */
  margin: 10vh auto; /* Adjusted margin for better spacing */
}

.sub-title {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  font-size: 5vw; /* Adjusted font size for better visibility */
  margin: 6vh 0; /* Adjusted margin for more space */
}

.gradient-text {
  background: linear-gradient(90deg, #ee446e, #baaaec); 
  -webkit-background-clip: text; 
  color: transparent;
}

.sub-text {
  margin-top: -3vh; /* Adjusted margin for better positioning */
  font-weight: 300;
  color: #999999;
  font-size: 3vh; /* Adjusted font size for better visibility */
}

.sub-header {
  font-family: 'Outfit', sans-serif;
  font-size: 3vw; /* Adjusted font size for better visibility */
  margin: 6vh 0; /* Adjusted margin for more space */
}

/* Adjustments for a flexible layout */
@media (max-width: 768px) {
  .home-container {
      padding: 1vw 2vw; /* Adjust padding for mobile */
  }

  .main-content {
      margin: 5vh auto; /* Adjust margin for mobile */
  }

  .sub-title {
    font-size: 10vw; /* Adjusted font size for mobile */
  }

  .sub-text {
    font-size: 5vw; /* Adjusted font size for mobile */
  }

  .cta-button {
      padding: 3vh 5vw; /* Adjusted padding for mobile */
      font-size: 4vw; /* Adjusted font size for mobile */
      margin: 6vh 2vw; /* Adjusted margin for mobile */
  }
}

/* Reuse and adapt .cta-button styles from earlier for contrast and visibility */
.cta-button {
  display: inline-block; /* Allows margin to take effect */
  margin: 3vh 2vw ; /* Adjusted margin for spacing */
  width: 35vw; /* Adjust width based on viewport width */
  vertical-align: middle;
  padding: 2vh 5vw; /* Adjusted padding */
  font-size: 4vw; /* Adjusted font size */
  font-weight: 500;
  background-color: white; /* Button background color */
  color: black; /* Button text color */
  border-radius: 10px; /* Rounded corners for the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin-top: 6vh; /* Adjusted margin for mobile */
  text-decoration: none;
}

.cta-button:hover {
  background-color: #dbdbdb; /* Darker shade on hover for better interaction feedback */
}
